* {
  font-family: 'Signika';
  text-align: center;
}

body, main, ul, main li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

body {
  background-color: lightgoldenrodyellow;
}

header, footer, main {
  width: 100%;
}

header {
  flex-basis: 177px;
}

main {
  flex-direction: column;
}

h1 {
  font-family: 'Black Ops One';
}

 ul, li {
  border: solid 1px black;
}

li {
  background-color: goldenrod;
}

ul {
  padding: 0;
  margin: 10px 0;
  width: auto;
}

button {
  border: ridge 1px black;
  background-color: silver;
}

#mine {
  background-color: gold;
  padding: 20px;
  border-radius: 100%;
  border: none;
  cursor: pointer;
}


header li {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 175px;
}

main ul {
  max-width: 240px;
}

main li {
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  padding: 9px;
  margin: 0;
  width: 100px;
  height: 200px;
}

@media only screen and (min-width: 360px) {
  main ul {
    max-width: 360px;
  }
}
@media only screen and (min-width: 480px) {
  main ul {
    max-width: 480px;
  }
}
@media only screen and (min-width: 720px) {
  main ul {
    max-width: 720px;
  }
}